:root {
  --link-color: rgb(0, 150, 255);
  --link-alpha: rgb(0, 150, 255, 0.25);
  --wash-color: #fefefe;
  --text-color: #111;
  --highlight-color: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --wash-color: #111;
    --text-color: #fefefe;
    --highlight-color: rgba(255, 255, 255, 0.1);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  font: clamp(100%, 3vmin, 150%) / 1.4 "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
  color: var(--text-color);
  background-color: var(--wash-color);
}

h1 {
  font-size: clamp(1.5rem, 10vmin, 3rem);
  line-height: 1;
  letter-spacing: -0.025em;
}

h1,
p,
section,
pre,
.note {
  display: block;
  margin-bottom: 1.5em;
}

main {
  max-width: 36rem;
  margin: 0 auto;
  padding: 1.75rem;
}

a {
  color: inherit;
}

a:hover {
  color: var(--link-color);
}

video {
  max-width: 100%;
  display: block;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

small {
  opacity: 0.75;
}

code,
pre {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.875rem;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  background-color: rgba(128, 128, 128, 0.15);
}

pre {
  box-sizing: content-box;
  padding: 0.5em 0.75em;
  margin-left: -0.75em;
  margin-right: -0.75em;
  max-width: 100%;
  overflow: scroll;
}

.bookmarklet {
  background-color: #ddd;
  color: #333;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 3rem;
  display: inline-block;
}

.bookmarklet:hover {
  background-color: var(--link-alpha);
}

.support {
  color: tomato;
}

.center {
  text-align: center;
}

.pip:after {
  background-clip: border-box;
  animation: 5s pipify cubic-bezier(0.76, 0, 0.24, 1);
  animation-delay: 1s;
  background-color: var(--link-color);
  border-radius: 0.25em;
  border: 1px solid var(--highlight-color);
  bottom: 0;
  box-shadow: 0 0.35em 0.5em rgba(0, 0, 0, 0.15);
  color: white;
  content: "Picture";
  left: 0;
  line-height: 1.2;
  margin: -0.1em -0.25em;
  opacity: 0;
  padding: 0.1em 0.25em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.pip {
  animation: 5s pipify-stage cubic-bezier(0.8, 0, 0.2, 1);
  animation-delay: 1s;
}

@keyframes pipify-stage {
  25%,
  75% {
    color: rgba(128, 128, 128, 0.5);
  }
}

@keyframes pipify {
  0%,
  100% {
    transform: scale(0) rotateX(90deg);
    transform-origin: bottom center;
  }

  10%,
  90% {
    opacity: 1;
    transform: none;
  }

  25%,
  75% {
    opacity: 1;
    transform: scale(0.5) translateX(25%) translateY(25%);
    box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.1);
    transform-origin: bottom right;
  }
}
